# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Log files
logs/

# Test files
tests/
digital_test.pdf
scanned_test.pdf
empty_test.pdf
compiler_test_01_hello.pdf
compiler_test_02_full_report.pdf
test_digital_lecture_notes.pdf
test_handswritten_lecture_notes.pdf
test_lecture_slides_0.pdf
test_lecture_slides_1.pdf
test_lecture_slides_2.pdf
